<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Home page</title>

  <script src="https://kit.fontawesome.com/47101d2035.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <style>
    .center {
      position: absolute;
      text-align: center;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-family: Arial, Helvetica, sans-serif;
      background-color: rgb(230, 239, 245);
    }
  </style>
</head>


<body class="center">

  <h1 style="color:rgb(44, 44, 90); font-weight: 700;">
    <i class="fas fa-car"></i> Insurance Predation
  </h1>

  <p style="color:rgb(51, 51, 83); font-weight: 700;">
    Dose the customer interested in purchasing a new insurance policy ?
  </p>

  <form action="result">
    {% csrf_token %}

    <div class="form-group">
      <input class="form-control" placeholder="Gender (0 for Male, 1 for Female)" required type="text" name="Gender">

    </div>


    <div class="form-group">
      <input class="form-control" placeholder="Age" required type="text" name="Age">
    </div>


    <div class="form-group">
      <input class="form-control" placeholder="Do you have a license? (0 for No, 1 for Yes)" required type="text" name="Driving_License">
    </div>


    <div class="form-group">
      <input class="form-control" placeholder="Enter your region code" required type="text" name="Region_Code">
    </div>


    <div class="form-group">
      <input class="form-control" placeholder="Did you had an insurance before? (0 for No, 1 for Yes)" type="text" required name="Previously_Insured">
    </div>


    <div class="form-group">
      <input class="form-control" placeholder="Vehicle age (0 for Less Than 1 Year,1 for Between 1 & 2 Years ,2 for More Than 2 Years)" required type="text" name="Vehicle_Age">
    </div>
    <div class="form-group">
      <input class="form-control" placeholder="Is there damage on the vehicle? C (0 for No, 1 for Yes)" required type="text" name="Vehicle_Damage">
    </div>


    <div class="form-group">
      <input class="form-control" placeholder="Enter Your annual premium" required type="text" name="Annual_Premium">
    </div>


    <div class="form-group">
      <input class="form-control" placeholder="Policy Channel" required type="text" name="Policy_Sales_Channel">
    </div>


    <div class="form-group">
      <input class="form-control" placeholder="How many days left on your insurance ?" required type="text" name="Vintage">
    </div>


    <input class="btn btn-primary btn-lg btn-block" type="submit" value='Predict'>

  </form>
</body>

</html>