<!DOCTYPE html>
<html>
<body style="background-color: rgb(241, 241, 241); ">
  <!--margin: 0px auto;-->
  <!--- position: fixed; width: 100%;text-align: center;background: #000000;color: white;font-size: 30px; -->
<header style="position: fixed; width: 100%;text-align: center;background: #4a4a4a;color: white;font-size: 30px;top: 0;left: 0;" >
  <h4>Web Cars price</h4>
</header>

<div style="padding-left: 30%;padding-top: 30%;padding-right: 30%;padding-bottom: 30%;">
<form action="result">
  {% csrf_token %}
  
  <div style="background-color: rgb(255, 255, 255);border-radius: 10px;border-style: solid ;border-color: black;border-width: 3px;">
    <h4><center>Web Cars price</center></h4>
    <div style="padding: 15%;">
      
      <label for="Make">Make:</label><br>
      <input type="dropd" name="Make" placeholder="Camry" style="width: 100%;"><br>
      <label for="Year">Year:</label><br>
      <input type="number" name="Year" placeholder="2020" style="width: 100%;"><br><br>
      <label for="DealType">Deal Type:</label><br>
      <select style="width: 100%;" name="DealType" >
        <option value="Cash">Cash</option>
        <option value="Installments">Installments</option>
      </select><br><br>
      <label for="FuelType">Fuel Type:</label><br>
      <select style="width: 100%;" name="FuelType" >
        <option value="Gasoline">Gasoline</option>
        <option value="Diesel">Diesel</option>
      </select><br><br>
      <label for="ExteriorStylingRating">Exterior Styling Rating:</label><br>
      <select style="width: 100%;" name="ExteriorStylingRating" >
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select><br><br>
      <input type="submit" value="Submit">
    </div>
  </div>
</form> 
</div>
<div>

</div>


</body>
</html>

