<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home page</title>

    <script src="https://kit.fontawesome.com/47101d2035.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
    .center {
      position: absolute;
      text-align: center;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-family: cursive;
      background-color: rgb(30 41 59);
    }

    </style>
</head>
<body class="center">

<h1 style="color: rgb(251 191 36); font-weight: 500;">
    <i class="fa-solid fa-face-monocle"></i> Kid Hobby Predictor
</h1>

<p style="color: rgb(255 255 255); font-weight: 700;">
    Learn about your kid and Predict your kid hobby
</p>

<form action="result">
    {% csrf_token %}

    <div class="form-group">
      <input class="form-control" placeholder="Has the child participated in any Science/Math Olympiad?" required type="text" name="Olympiad_Participation">
    </div>

    <div class="form-group">
      <input class="form-control" placeholder="Has the child received any scholarships?" required type="text" name="Scholarship">
    </div>

    <div class="form-group">
      <input class="form-control" placeholder="Does the child love going to school?" required type="text" name="School">
    </div>

    <div class="form-group">
      <input class="form-control" placeholder="Has the child done any projects under academics?" required type="text" name="Projects">
    </div>

    <div class="form-group">
      <input class="form-control" placeholder="The child’s grasping power from 1 to 6 " required type="text" name="Grasp_pow">
    </div>

    <div class="form-group">
      <input class="form-control" placeholder="How much time does the child spend time playing outdoors/indoors?" required type="text" name="Time_sprt">
    </div>

    <div class="form-group">
      <input class="form-control" placeholder="Has the child won medals in sports?" required type="text" name="Medals">
    </div>

    <div class="form-group">
      <input class="form-control" placeholder="Do the child’s parents want the child to pursue a career in sports?" required type="text" name="Career_sprt">
    </div>

    <div class="form-group">
      <input class="form-control" placeholder="Does the child regularly participate in sporting activities?" required type="text" name="Act_sprt">
    </div>

    <div class="form-group">
      <input class="form-control" placeholder="Does the child love to create fantasy paintings?" required type="text" name="Fant_arts">
    </div>

    <div class="form-group">
      <input class="form-control" placeholder="The number of hours the child spends in arts" required type="text" name="Time_art">
    </div>

     <input class="btn btn-primary btn-lg btn-block" type="submit" value='Predict'>
</form>

</html>